<div class="row">
  <%= render 'menu' %>

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-body" style="height: 180px;">
            <div class="heading">邀请码</div>
            <p style="font-size:24px"><%= @user.invite_code %></p>
            <p style="font-size:15px">邀请链接</p>
            <p>https://www.nestfans.com/account/sign_up?invite=<%= @user.invite_code %></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body" style="height: 180px; text-align: center;">
            <div class="heading">累计邀请</div>
            <p style="font-size:24px; margin-top: 40px;"><%= @invitedCount %> 人</p>
          </div>
        </div>
      </div>
    </div>

  <table class="table table-bordered table-striped table-condensed">
    <tr class="head">
      <td>帐号</td>
      <td>Email</td>
      <td>注册时间</td>
    </tr>
    <% @invitedUsers.each do |iuser| %>
      <tr>
        <td><%= iuser.login %></td>
        <td><%= iuser.email %></td>
        <td><%= iuser.current_sign_in_at %></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @invitedUsers %>
  </div>

</div>
