<div class="row">
  <%= render 'menu' %>

  <div class="col-md-10">
    <div class="card">
      <div class="card-body">
        <%= form_for @user, url: setting_path, method: :put, html: { enctype: "multipart/form-data" } do |f| %>
          <%= render "shared/error_messages", target: @user %>
          <input type="hidden" name="by" value="profile" />

          <% if Setting.has_profile_field? :company %>
          <div class="form-group">
            以太坊地址
            <%= f.text_field :company, class: "form-control", style: "width: 400px" %>
          </div>
          <% end %>

          <% if Setting.has_profile_field? :website %>
            <div class="form-group">
              <%= f.label :website %>
              <%= f.text_field :website, type: :url, class: "form-control", placeholder: "http://" %>
            </div>
          <% end %>

          <% if Setting.has_profile_field? :tagline %>
          <div class="form-group">
            个人简介
            <%= f.text_field :tagline, class: "form-control" %>
          </div>
          <% end %>

          <% if Setting.has_profile_field? :location %>
          <div class="form-group">
            <%= f.label :location %>
            <%= f.text_field :location, class: "form-control", style: "width: 200px"  %>
          </div>
          <% end %>
          
          <div class="form-actions hide-ios">
            <button type="submit" class="btn btn-primary" data-disable-with="<%= t("common.saving") %>"><%= t("users.update_profile")%></button>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
